$mobile-bp: 480px;
$tablet-bp: 768px;
$laptop-bp: 960px;
$screen-bp: 1200px;


$main-color: #1B2F50;
$red-color: rgb(213, 45, 45);
$gray-background: #fafafa;
$border-color-light: hsl(0, 0%, 70%);
$box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.11);



